/* variables */
:root {
    --primaryclr: #054e37;
    --primarylightclr: #12a537; 
    --secondaryclr: #FCBC01;
    --secondarylightclr: #F5CE64;
    --accentclr: #5F1646;
    --textlightclr: #d9d5d2;
    --textcolor: black;
    --serif: , serif;
    --sans-serif: , sans-serif;
  }

/* Main style */
body::before {
    display: block;
    content: '';
    height: 60px;
}


/* Header */
header {
    background-color: #fff;
}

header h1 {
    color: var(--primaryclr);
}

/*  Youtube style */

.youtube-container {
    width: 50%;
    margin: 0 auto;
    text-align: center;
}

.video-title {
    margin-top: 10px;
}

.video-img {
    display: block;
    margin: 10px auto;
    padding: 10px auto;
    text-align: center;
}

.video-link {
    margin: 15px auto;
    padding: 15px auto;

}

/* Footer section */
.bi-arrow-up-circle {
    color: var(--primarylightclr);
}

.card-bg-primary {
    background-color: var(--primaryclr);
    border: 1px solid var(--primaryclr);
    border-radius: 5px;
}

.btn-acc-round {
    background-color: var(--primarylightclr);
    border: 5px solid var(--primarylightclr);
    border-radius: 50%;
    color: var(--textlightclr);
    font-weight: 700;
    margin: 15px;
}

.btn-acc-round:hover {
        background-color: var(--secondarylightclr);
        border: 5px solid var(--secondarylightclr);
        color: var(--textlightclr);
        box-shadow: 0 0 11px rgba(33,33,33,.5); 
}

a, 
a:hover {
    text-decoration: none;
    color: var(--textlightclr);
}